<div class="container" style="background-color:#a6eeda">
    <div class="navbar navbar-brand">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Reports", "Index", "Report")</li>
                    <li>@Html.ActionLink("Database initialization", "Index", "InitDb")</li>
                    <li>@Html.ActionLink("Manage database", "Index", "DbTablesAdmin")</li>
                </ul>
            </div>
        </div>
    </div> 
</div>