
<div class="container">
    <div class="list-group">
        <div class="list-group-item">
            After signing in, go to the menu item
            "Manage database/Account" and create your money accounts
            (e.g. bank accounts, cash in different currency)
        </div>
        <div class="list-group-item">
            After creating at least one account, go to the menu item
            "Manage database/Ledger" and create all the necessary income/expense items
        </div>
        <div class="list-group-item">
                <dl>
                    <dt>All the tables (but "User") of menu "Manage database" contains actions:</dt>
                    <dd>create a new</dd>
                    <dd>edit existing</dd>
                    <dd>view details of an entry</dd>
                    <dd>delete an entry</dd>
                </dl>
        </div>
        <div class="list-group-item">
            For short tutorial, use test database initialisation (see the file ReadMe_DbInitialization.txt).
            Then you may use Report menu.
        </div>
    </div>
    <div class="row text-danger">BE CAREFUL when selecting menu item "Database Initialization/Clear..." - all the data are removed without ability to restoring</div>
</div>

