@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        The Budget manager program is targeted to aleviate money management controlling.
    </div>
    <div class="row">
        For more details, see the page "Help"
    </div>
</div>