
<div class="container">

    <div class="row">Tables initialization must be selected in accordance to theit number below:</div>
    <h1 class="text-danger">Attention! </h1>
    <h2>These actions may be used for start introduction only!</h2>
    <h2>Remove all the created garbage data after familiarization with this program!</h2>
    <h2>Don't use any of these actions after creating real entries!</h2>
    <hr />
    <div class="row">
        <label class="col-md-2">1. Account table</label>
        <span class="btn btn-default"">@Html.ActionLink("Init account table", "InitAccountList", "InitDb")</span>
        <span class="btn btn-default"">@Html.ActionLink("Clear account table", "ClearAccount", "InitDb")</span>
    </div>

    <div class="row">
        <label class="col-md-2">2. Ledger table</label>
        <span class="btn btn-default">@Html.ActionLink("Init ledger if empty", "LedgerStartInit", "InitDb")</span>
        <span class="btn btn-default"">@Html.ActionLink("Clear the ledger", "ClearLedger", "InitDb")</span>
    </div>
</div>
